.line{
  display: inline;
  position: relative;
  left: 300px;
  top: 200px;
  
}
header{
  background-image:url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  height: 300px;
  width: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 150px;
  margin-right: 150px;
  text-align: left;
  align-content: center
  
  
}
h1 {
  font-size: 40px;
}


.main{
  text-align:start;
  margin-left:25%;
  margin-right:25%;
  line-height: 1.7em
}
  
  

blockquote {
  background-color: #222;
  color: white;
  font-size: 40px;
  padding: 50px;
  width: 55%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


blockquote::before {
  content: '“';
  display: block;
  font-size: 150px;
  margin: 0;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 0px;
}
body{
  width: 1400px;
}
h2{
  
}